<div class=@($"overflow-hidden {Class}") style="@Style" @ref="ContainerReference">
    @* <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnButtonClick">Test</MudButton> *@
    <BECanvas @ref="CanvasReference"></BECanvas>
</div>